<!DOCTYPE html>
<html>
<head>
	<title>Recommended Values</title>
	<style>
		table {
			border-collapse: collapse;
			margin: 20px auto;
		}
		th, td {
			padding: 10px;
			border: 1px solid black;
			text-align: center;
		}
	</style>
</head>
<body style="background-color:rgba(19,82,82,0.58);">
	<h1>Customer Number: {{ key }}</h1>
	<h2>Top 50 Recommended Products:</h2>
	<table>
		<thead>
			<tr>
				<th>Index</th>
				<th>Product</th>
			</tr>
		</thead>
		<tbody>
			{% for i in value %}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{i}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>

