<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v6.js"></script>
<div>
  <label for="layerSelect">Select a layer:</label>
  <select name="dataOption" id="layerSelect">
    <option value="hidden layer1" selected>hidden layer1</option>
    <option value="hidden layer2">hidden layer2</option>
    <option value="hidden layer3">hidden layer3</option>
    <option value="hidden layer4">hidden layer4</option>
    <option value="hidden layer5">concatenate layer</option>
  </select>
</div>

<!-- Create a div where the graph will take place -->
<div id="my_dataviz"></div>
<script>
  function hiddenLayer1Handler(){
  d3.select("#my_dataviz").html("");
// set the dimensions and margins of the graph
const margin = {top: 80, right: 25, bottom: 30, left: 40},
  width = 1050 - margin.left - margin.right,
  height = 850 - margin.top - margin.bottom;

// append the svg object to the body of the page
const svg = d3.select("#my_dataviz")
  .append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", `translate(${margin.left}, ${margin.top})`);



// Read the data
d3.csv("hiddenweights.csv").then(function(data) {
  // Build X scales and axis
  const x = d3.scaleBand()
    .range([0, width])
    .domain(data.map(d => d.Row))
    .padding(0.05);

  svg.append("g")
    .style("font-size", 15)
    .attr("transform", `translate(0, ${height})`)
    .call(d3.axisBottom(x).ticks(5).tickSize(0))
    .selectAll("text")
  .style("text-anchor", "end")
  .attr("transform", "rotate(-90)")
  .text(function(d) {
    // Truncate label to a certain length
    return d.length > 10 ? d.slice(0, 10) + "..." : d});
  // Determine the minimum and maximum values
  const minValue = d3.min(data, d => d.Value);
  console.log(minValue)
  const maxValue = d3.max(data, d => d.Value);
  console.log(maxValue)
  // Build Y scales and axis
  const y = d3.scaleBand()
    .range([height, 0])
    .domain(data.map(d => d.Column))
    .padding(0.05);

  svg.append("g")
    .style("font-size", 15)
    .call(d3.axisLeft(y).ticks(5).tickSize(0))
    .selectAll("text")
  .style("text-anchor", "end")
  //.attr("transform", "rotate(45)")
  .text(function(d) {
    // Truncate label to a certain length
    return d.length > 10 ? d.slice(0, 10) + "..." : d});

  // Build color scale
  const myColor = d3.scaleSequential(d3.interpolateReds)
    .domain([minValue, maxValue]);



  // create a tooltip
  const tooltip = d3.select("#my_dataviz")
    .append("div")
    .style("opacity", 0)
    .attr("class", "tooltip")
    .style("background-color", "white")
    .style("border", "solid")
    .style("border-width", "2px")
    .style("border-radius", "5px")
    .style("padding", "5px");

  // Three functions that change the tooltip when user hover / move / leave a cell
  const mouseover = function(event, d) {
    tooltip
      .style("opacity", 1);
    d3.select(this)
      .style("stroke", "black")
      .style("opacity", 1);
  };
  const mousemove = function(event, d) {
    tooltip
      .html("The exact value of<br>this cell is: " + d.Value)
      .style("left", (event.x)/2 + "px")
      .style("top", (event.y)/2 + "px");
  };
  const mouseleave = function(event, d) {
    tooltip
      .style("opacity", 0);
    d3.select(this)
      .style("stroke", "none")
      .style("opacity", 0.8);
  };

  // Add the squares
  svg.selectAll("rect")
    .data(data)
    .enter()
    .append("rect")
    .attr("x", d => x(d.Row))
    .attr("y", d => y(d.Column))
    .attr("rx", 4)
    .attr("ry", 4)
    .attr("width", x.bandwidth())
    .attr("height", y.bandwidth())
    .style("fill", d => myColor(d.Value))
    .style("stroke-width", 4)
    .style("stroke", "none")
    .style("opacity", 0.8)
    .on("mouseover", mouseover)
    .on("mousemove", mousemove)
    .on("mouseleave", mouseleave);
});

// Add title to graph
svg.append("text")
  .attr("x", 0)
  .attr("y", -50)
  .attr("text-anchor", "left")
  .style("font-size", "22px")
  .text("hidden layer 1");


// Define the color scale range and labels
const colorRange = ["low", "medium", "high"];

// Create a color scale using the range
const colorScale = d3.scaleSequential(d3.interpolateReds)
  .domain([0,colorRange.length - 1]);

// Define the legend dimensions and margins
const legendWidth = 50;
const legendHeight = 200;
const legendMargin = { top: 20, right: 0, bottom: 20, left: 200 };

// Append the legend SVG container
const legendSvg = d3.select("#my_dataviz")
  .append("svg")
  .attr("width", legendWidth + legendMargin.left + legendMargin.right)
  .attr("height", legendHeight + legendMargin.top + legendMargin.bottom)
  .append("g")
  .attr("transform", `translate(${legendMargin.left},${legendMargin.top})`);

// Create color gradient rectangle
legendSvg.append("rect")
  .attr("x", 0)
  .attr("y", 0)
  .attr("width", legendWidth)
  .attr("height", legendHeight)
  .style("fill", "url(#gradient)"); // Apply gradient fill using a gradient ID

// Create a gradient definition
const gradient = legendSvg.append("defs")
  .append("linearGradient")
  .attr("id", "gradient")
  .attr("gradientUnits", "userSpaceOnUse")
  .attr("x1", 0)
  .attr("y1", 0)
  .attr("x2", 0)
  .attr("y2", legendHeight);

// Add color stops to the gradient
gradient.selectAll("stop")
  .data(colorRange)
  .enter()
  .append("stop")
  .attr("offset", (d, i) => `${(i / (colorRange.length - 1)) * 100}%`)
  .attr("stop-color", (d, i) => colorScale(i));

// Add labels for high and low
legendSvg.append("text")
  .attr("x", legendWidth / 2.5)
  .attr("y", -5)
  .attr("text-anchor", "middle")
  .style("font-size", "15px")
  .text(colorRange[0]);

legendSvg.append("text")
  .attr("x", legendWidth / 2)
  .attr("y", legendHeight + 15)
  .attr("text-anchor", "middle")
  .style("font-size", "15px")
  .text(colorRange[2]);

}

function hiddenLayer2Handler(){
  d3.select("#my_dataviz").html("");
// set the dimensions and margins of the graph
const margin = {top: 80, right: 25, bottom: 30, left: 40},
  width = 1050 - margin.left - margin.right,
  height = 850 - margin.top - margin.bottom;

// append the svg object to the body of the page
const svg = d3.select("#my_dataviz")
  .append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", `translate(${margin.left}, ${margin.top})`);



// Read the data
d3.csv("hidden_weights2.csv").then(function(data) {
  // Build X scales and axis
  const x = d3.scaleBand()
    .range([0, width])
    .domain(data.map(d => d.Row))
    .padding(0.05);

  svg.append("g")
    .style("font-size", 15)
    .attr("transform", `translate(0, ${height})`)
    .call(d3.axisBottom(x).ticks(5).tickSize(0))
    .selectAll("text")
  .style("text-anchor", "end")
  .attr("transform", "rotate(-90)")
  .text(function(d) {
    // Truncate label to a certain length
    return d.length > 10 ? d.slice(0, 10) + "..." : d});
  // Determine the minimum and maximum values
  const minValue = d3.min(data, d => d.Value);
  console.log(minValue)
  const maxValue = d3.max(data, d => d.Value);
  console.log(maxValue)
  // Build Y scales and axis
  const y = d3.scaleBand()
    .range([height, 0])
    .domain(data.map(d => d.Column))
    .padding(0.05);

  svg.append("g")
    .style("font-size", 15)
    .call(d3.axisLeft(y).ticks(5).tickSize(0))
    .selectAll("text")
  .style("text-anchor", "end")
  //.attr("transform", "rotate(45)")
  .text(function(d) {
    // Truncate label to a certain length
    return d.length > 10 ? d.slice(0, 10) + "..." : d});

  // Build color scale
  const myColor = d3.scaleSequential(d3.interpolateReds)
    .domain([minValue, maxValue]);



  // create a tooltip
  const tooltip = d3.select("#my_dataviz")
    .append("div")
    .style("opacity", 0)
    .attr("class", "tooltip")
    .style("background-color", "white")
    .style("border", "solid")
    .style("border-width", "2px")
    .style("border-radius", "5px")
    .style("padding", "5px");

  // Three functions that change the tooltip when user hover / move / leave a cell
  const mouseover = function(event, d) {
    tooltip
      .style("opacity", 1);
    d3.select(this)
      .style("stroke", "black")
      .style("opacity", 1);
  };
  const mousemove = function(event, d) {
    tooltip
      .html("The exact value of<br>this cell is: " + d.Value)
      .style("left", (event.x)/2 + "px")
      .style("top", (event.y)/2 + "px");
  };
  const mouseleave = function(event, d) {
    tooltip
      .style("opacity", 0);
    d3.select(this)
      .style("stroke", "none")
      .style("opacity", 0.8);
  };

  // Add the squares
  svg.selectAll("rect")
    .data(data)
    .enter()
    .append("rect")
    .attr("x", d => x(d.Row))
    .attr("y", d => y(d.Column))
    .attr("rx", 4)
    .attr("ry", 4)
    .attr("width", x.bandwidth())
    .attr("height", y.bandwidth())
    .style("fill", d => myColor(d.Value))
    .style("stroke-width", 4)
    .style("stroke", "none")
    .style("opacity", 0.8)
    .on("mouseover", mouseover)
    .on("mousemove", mousemove)
    .on("mouseleave", mouseleave);
});

// Add title to graph
svg.append("text")
  .attr("x", 0)
  .attr("y", -50)
  .attr("text-anchor", "left")
  .style("font-size", "22px")
  .text("hidden layer 2");


// Define the color scale range and labels
const colorRange = ["low", "medium", "high"];

// Create a color scale using the range
const colorScale = d3.scaleSequential(d3.interpolateReds)
  .domain([0,colorRange.length - 1]);

// Define the legend dimensions and margins
const legendWidth = 50;
const legendHeight = 200;
const legendMargin = { top: 20, right: 0, bottom: 20, left: 200 };

// Append the legend SVG container
const legendSvg = d3.select("#my_dataviz")
  .append("svg")
  .attr("width", legendWidth + legendMargin.left + legendMargin.right)
  .attr("height", legendHeight + legendMargin.top + legendMargin.bottom)
  .append("g")
  .attr("transform", `translate(${legendMargin.left},${legendMargin.top})`);

// Create color gradient rectangle
legendSvg.append("rect")
  .attr("x", 0)
  .attr("y", 0)
  .attr("width", legendWidth)
  .attr("height", legendHeight)
  .style("fill", "url(#gradient)"); // Apply gradient fill using a gradient ID

// Create a gradient definition
const gradient = legendSvg.append("defs")
  .append("linearGradient")
  .attr("id", "gradient")
  .attr("gradientUnits", "userSpaceOnUse")
  .attr("x1", 0)
  .attr("y1", 0)
  .attr("x2", 0)
  .attr("y2", legendHeight);

// Add color stops to the gradient
gradient.selectAll("stop")
  .data(colorRange)
  .enter()
  .append("stop")
  .attr("offset", (d, i) => `${(i / (colorRange.length - 1)) * 100}%`)
  .attr("stop-color", (d, i) => colorScale(i));

// Add labels for high and low
legendSvg.append("text")
  .attr("x", legendWidth / 2.5)
  .attr("y", -5)
  .attr("text-anchor", "middle")
  .style("font-size", "15px")
  .text(colorRange[0]);

legendSvg.append("text")
  .attr("x", legendWidth / 2)
  .attr("y", legendHeight + 15)
  .attr("text-anchor", "middle")
  .style("font-size", "15px")
  .text(colorRange[2]);

}

function hiddenLayer3Handler(){
  d3.select("#my_dataviz").html("");
// set the dimensions and margins of the graph
const margin = {top: 80, right: 25, bottom: 30, left: 40},
  width = 1050 - margin.left - margin.right,
  height = 850 - margin.top - margin.bottom;

// append the svg object to the body of the page
const svg = d3.select("#my_dataviz")
  .append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", `translate(${margin.left}, ${margin.top})`);



// Read the data
d3.csv("hidden_weights3.csv").then(function(data) {
  // Build X scales and axis
  const x = d3.scaleBand()
    .range([0, width])
    .domain(data.map(d => d.Row))
    .padding(0.05);

  svg.append("g")
    .style("font-size", 15)
    .attr("transform", `translate(0, ${height})`)
    .call(d3.axisBottom(x).ticks(5).tickSize(0))
    .selectAll("text")
  .style("text-anchor", "end")
  .attr("transform", "rotate(-90)")
  .text(function(d) {
    // Truncate label to a certain length
    return d.length > 10 ? d.slice(0, 10) + "..." : d});
  // Determine the minimum and maximum values
  const minValue = d3.min(data, d => d.Value);
  console.log(minValue)
  const maxValue = d3.max(data, d => d.Value);
  console.log(maxValue)
  // Build Y scales and axis
  const y = d3.scaleBand()
    .range([height, 0])
    .domain(data.map(d => d.Column))
    .padding(0.05);

  svg.append("g")
    .style("font-size", 15)
    .call(d3.axisLeft(y).ticks(5).tickSize(0))
    .selectAll("text")
  .style("text-anchor", "end")
  //.attr("transform", "rotate(45)")
  .text(function(d) {
    // Truncate label to a certain length
    return d.length > 10 ? d.slice(0, 10) + "..." : d});

  // Build color scale
  const myColor = d3.scaleSequential(d3.interpolateReds)
    .domain([minValue, maxValue]);



  // create a tooltip
  const tooltip = d3.select("#my_dataviz")
    .append("div")
    .style("opacity", 0)
    .attr("class", "tooltip")
    .style("background-color", "white")
    .style("border", "solid")
    .style("border-width", "2px")
    .style("border-radius", "5px")
    .style("padding", "5px");

  // Three functions that change the tooltip when user hover / move / leave a cell
  const mouseover = function(event, d) {
    tooltip
      .style("opacity", 1);
    d3.select(this)
      .style("stroke", "black")
      .style("opacity", 1);
  };
  const mousemove = function(event, d) {
    tooltip
      .html("The exact value of<br>this cell is: " + d.Value)
      .style("left", (event.x)/2 + "px")
      .style("top", (event.y)/2 + "px");
  };
  const mouseleave = function(event, d) {
    tooltip
      .style("opacity", 0);
    d3.select(this)
      .style("stroke", "none")
      .style("opacity", 0.8);
  };

  // Add the squares
  svg.selectAll("rect")
    .data(data)
    .enter()
    .append("rect")
    .attr("x", d => x(d.Row))
    .attr("y", d => y(d.Column))
    .attr("rx", 4)
    .attr("ry", 4)
    .attr("width", x.bandwidth())
    .attr("height", y.bandwidth())
    .style("fill", d => myColor(d.Value))
    .style("stroke-width", 4)
    .style("stroke", "none")
    .style("opacity", 0.8)
    .on("mouseover", mouseover)
    .on("mousemove", mousemove)
    .on("mouseleave", mouseleave);
});

// Add title to graph
svg.append("text")
  .attr("x", 0)
  .attr("y", -50)
  .attr("text-anchor", "left")
  .style("font-size", "22px")
  .text("hidden layer 3");


// Define the color scale range and labels
const colorRange = ["low", "medium", "high"];

// Create a color scale using the range
const colorScale = d3.scaleSequential(d3.interpolateReds)
  .domain([0,colorRange.length - 1]);

// Define the legend dimensions and margins
const legendWidth = 50;
const legendHeight = 200;
const legendMargin = { top: 20, right: 0, bottom: 20, left: 200 };

// Append the legend SVG container
const legendSvg = d3.select("#my_dataviz")
  .append("svg")
  .attr("width", legendWidth + legendMargin.left + legendMargin.right)
  .attr("height", legendHeight + legendMargin.top + legendMargin.bottom)
  .append("g")
  .attr("transform", `translate(${legendMargin.left},${legendMargin.top})`);

// Create color gradient rectangle
legendSvg.append("rect")
  .attr("x", 0)
  .attr("y", 0)
  .attr("width", legendWidth)
  .attr("height", legendHeight)
  .style("fill", "url(#gradient)"); // Apply gradient fill using a gradient ID

// Create a gradient definition
const gradient = legendSvg.append("defs")
  .append("linearGradient")
  .attr("id", "gradient")
  .attr("gradientUnits", "userSpaceOnUse")
  .attr("x1", 0)
  .attr("y1", 0)
  .attr("x2", 0)
  .attr("y2", legendHeight);

// Add color stops to the gradient
gradient.selectAll("stop")
  .data(colorRange)
  .enter()
  .append("stop")
  .attr("offset", (d, i) => `${(i / (colorRange.length - 1)) * 100}%`)
  .attr("stop-color", (d, i) => colorScale(i));

// Add labels for high and low
legendSvg.append("text")
  .attr("x", legendWidth / 2.5)
  .attr("y", -5)
  .attr("text-anchor", "middle")
  .style("font-size", "15px")
  .text(colorRange[0]);

legendSvg.append("text")
  .attr("x", legendWidth / 2)
  .attr("y", legendHeight + 15)
  .attr("text-anchor", "middle")
  .style("font-size", "15px")
  .text(colorRange[2]);

}

function hiddenLayer4Handler(){
  d3.select("#my_dataviz").html("");
// set the dimensions and margins of the graph
const margin = {top: 80, right: 25, bottom: 30, left: 40},
  width = 1050 - margin.left - margin.right,
  height = 850 - margin.top - margin.bottom;

// append the svg object to the body of the page
const svg = d3.select("#my_dataviz")
  .append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", `translate(${margin.left}, ${margin.top})`);



// Read the data
d3.csv("hidden_weights5.csv").then(function(data) {
  // Build X scales and axis
  const x = d3.scaleBand()
    .range([0, width])
    .domain(data.map(d => d.Row))
    .padding(0.05);

  svg.append("g")
    .style("font-size", 15)
    .attr("transform", `translate(0, ${height})`)
    .call(d3.axisBottom(x).ticks(5).tickSize(0))
    .selectAll("text")
  .style("text-anchor", "end")
  .attr("transform", "rotate(-90)")
  .text(function(d) {
    // Truncate label to a certain length
    return d.length > 10 ? d.slice(0, 10) + "..." : d});
  // Determine the minimum and maximum values
  const minValue = d3.min(data, d => d.Value);
  console.log(minValue)
  const maxValue = d3.max(data, d => d.Value);
  console.log(maxValue)
  // Build Y scales and axis
  const y = d3.scaleBand()
    .range([height, 0])
    .domain(data.map(d => d.Column))
    .padding(0.05);

  svg.append("g")
    .style("font-size", 15)
    .call(d3.axisLeft(y).ticks(5).tickSize(0))
    .selectAll("text")
  .style("text-anchor", "end")
  //.attr("transform", "rotate(45)")
  .text(function(d) {
    // Truncate label to a certain length
    return d.length > 10 ? d.slice(0, 10) + "..." : d});

  // Build color scale
  const myColor = d3.scaleSequential(d3.interpolateReds)
    .domain([minValue, maxValue]);



  // create a tooltip
  const tooltip = d3.select("#my_dataviz")
    .append("div")
    .style("opacity", 0)
    .attr("class", "tooltip")
    .style("background-color", "white")
    .style("border", "solid")
    .style("border-width", "2px")
    .style("border-radius", "5px")
    .style("padding", "5px");

  // Three functions that change the tooltip when user hover / move / leave a cell
  const mouseover = function(event, d) {
    tooltip
      .style("opacity", 1);
    d3.select(this)
      .style("stroke", "black")
      .style("opacity", 1);
  };
  const mousemove = function(event, d) {
    tooltip
      .html("The exact value of<br>this cell is: " + d.Value)
      .style("left", (event.x)/2 + "px")
      .style("top", (event.y)/2 + "px");
  };
  const mouseleave = function(event, d) {
    tooltip
      .style("opacity", 0);
    d3.select(this)
      .style("stroke", "none")
      .style("opacity", 0.8);
  };

  // Add the squares
  svg.selectAll("rect")
    .data(data)
    .enter()
    .append("rect")
    .attr("x", d => x(d.Row))
    .attr("y", d => y(d.Column))
    .attr("rx", 4)
    .attr("ry", 4)
    .attr("width", x.bandwidth())
    .attr("height", y.bandwidth())
    .style("fill", d => myColor(d.Value))
    .style("stroke-width", 4)
    .style("stroke", "none")
    .style("opacity", 0.8)
    .on("mouseover", mouseover)
    .on("mousemove", mousemove)
    .on("mouseleave", mouseleave);
});

// Add title to graph
svg.append("text")
  .attr("x", 0)
  .attr("y", -50)
  .attr("text-anchor", "left")
  .style("font-size", "22px")
  .text("hidden layer 4");


// Define the color scale range and labels
const colorRange = ["low", "medium", "high"];

// Create a color scale using the range
const colorScale = d3.scaleSequential(d3.interpolateReds)
  .domain([0,colorRange.length - 1]);

// Define the legend dimensions and margins
const legendWidth = 50;
const legendHeight = 200;
const legendMargin = { top: 20, right: 0, bottom: 20, left: 200 };

// Append the legend SVG container
const legendSvg = d3.select("#my_dataviz")
  .append("svg")
  .attr("width", legendWidth + legendMargin.left + legendMargin.right)
  .attr("height", legendHeight + legendMargin.top + legendMargin.bottom)
  .append("g")
  .attr("transform", `translate(${legendMargin.left},${legendMargin.top})`);

// Create color gradient rectangle
legendSvg.append("rect")
  .attr("x", 0)
  .attr("y", 0)
  .attr("width", legendWidth)
  .attr("height", legendHeight)
  .style("fill", "url(#gradient)"); // Apply gradient fill using a gradient ID

// Create a gradient definition
const gradient = legendSvg.append("defs")
  .append("linearGradient")
  .attr("id", "gradient")
  .attr("gradientUnits", "userSpaceOnUse")
  .attr("x1", 0)
  .attr("y1", 0)
  .attr("x2", 0)
  .attr("y2", legendHeight);

// Add color stops to the gradient
gradient.selectAll("stop")
  .data(colorRange)
  .enter()
  .append("stop")
  .attr("offset", (d, i) => `${(i / (colorRange.length - 1)) * 100}%`)
  .attr("stop-color", (d, i) => colorScale(i));

// Add labels for high and low
legendSvg.append("text")
  .attr("x", legendWidth / 2.5)
  .attr("y", -5)
  .attr("text-anchor", "middle")
  .style("font-size", "15px")
  .text(colorRange[0]);

legendSvg.append("text")
  .attr("x", legendWidth / 2)
  .attr("y", legendHeight + 15)
  .attr("text-anchor", "middle")
  .style("font-size", "15px")
  .text(colorRange[2]);

}

function hiddenLayer5Handler(){
  d3.select("#my_dataviz").html("");
// set the dimensions and margins of the graph
const margin = {top: 80, right: 25, bottom: 30, left: 40},
  width = 1050 - margin.left - margin.right,
  height = 850 - margin.top - margin.bottom;

// append the svg object to the body of the page
const svg = d3.select("#my_dataviz")
  .append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", `translate(${margin.left}, ${margin.top})`);



// Read the data
d3.csv("hidden_weights6.csv").then(function(data) {
  // Build X scales and axis
  const x = d3.scaleBand()
    .range([0, width])
    .domain(data.map(d => d.Row))
    .padding(0.05);

  svg.append("g")
    .style("font-size", 15)
    .attr("transform", `translate(0, ${height})`)
    .call(d3.axisBottom(x).ticks(5).tickSize(0))
    .selectAll("text")
  .style("text-anchor", "end")
  .attr("transform", "rotate(-90)")
  .text(function(d) {
    // Truncate label to a certain length
    return d.length > 10 ? d.slice(0, 10) + "..." : d});
  // Determine the minimum and maximum values
  const minValue = d3.min(data, d => d.Value);
  console.log(minValue)
  const maxValue = d3.max(data, d => d.Value);
  console.log(maxValue)
  // Build Y scales and axis
  const y = d3.scaleBand()
    .range([height, 0])
    .domain(data.map(d => d.Column))
    .padding(0.05);

  svg.append("g")
    .style("font-size", 15)
    .call(d3.axisLeft(y).ticks(5).tickSize(0))
    .selectAll("text")
  .style("text-anchor", "end")
  //.attr("transform", "rotate(45)")
  .text(function(d) {
    // Truncate label to a certain length
    return d.length > 10 ? d.slice(0, 10) + "..." : d});

  // Build color scale
  const myColor = d3.scaleSequential(d3.interpolateReds)
    .domain([minValue, maxValue]);



  // create a tooltip
  const tooltip = d3.select("#my_dataviz")
    .append("div")
    .style("opacity", 0)
    .attr("class", "tooltip")
    .style("background-color", "white")
    .style("border", "solid")
    .style("border-width", "2px")
    .style("border-radius", "5px")
    .style("padding", "5px");

  // Three functions that change the tooltip when user hover / move / leave a cell
  const mouseover = function(event, d) {
    tooltip
      .style("opacity", 1);
    d3.select(this)
      .style("stroke", "black")
      .style("opacity", 1);
  };
  const mousemove = function(event, d) {
    tooltip
      .html("The exact value of<br>this cell is: " + d.Value)
      .style("left", (event.x)/2 + "px")
      .style("top", (event.y)/2 + "px");
  };
  const mouseleave = function(event, d) {
    tooltip
      .style("opacity", 0);
    d3.select(this)
      .style("stroke", "none")
      .style("opacity", 0.8);
  };

  // Add the squares
  svg.selectAll("rect")
    .data(data)
    .enter()
    .append("rect")
    .attr("x", d => x(d.Row))
    .attr("y", d => y(d.Column))
    .attr("rx", 4)
    .attr("ry", 4)
    .attr("width", x.bandwidth())
    .attr("height", y.bandwidth())
    .style("fill", d => myColor(d.Value))
    .style("stroke-width", 4)
    .style("stroke", "none")
    .style("opacity", 0.8)
    .on("mouseover", mouseover)
    .on("mousemove", mousemove)
    .on("mouseleave", mouseleave);
});

// Add title to graph
svg.append("text")
  .attr("x", 0)
  .attr("y", -50)
  .attr("text-anchor", "left")
  .style("font-size", "22px")
  .text("concatenated layer");


// Define the color scale range and labels
const colorRange = ["low", "medium", "high"];

// Create a color scale using the range
const colorScale = d3.scaleSequential(d3.interpolateReds)
  .domain([0,colorRange.length - 1]);

// Define the legend dimensions and margins
const legendWidth = 50;
const legendHeight = 200;
const legendMargin = { top: 20, right: 0, bottom: 20, left: 200 };

// Append the legend SVG container
const legendSvg = d3.select("#my_dataviz")
  .append("svg")
  .attr("width", legendWidth + legendMargin.left + legendMargin.right)
  .attr("height", legendHeight + legendMargin.top + legendMargin.bottom)
  .append("g")
  .attr("transform", `translate(${legendMargin.left},${legendMargin.top})`);

// Create color gradient rectangle
legendSvg.append("rect")
  .attr("x", 0)
  .attr("y", 0)
  .attr("width", legendWidth)
  .attr("height", legendHeight)
  .style("fill", "url(#gradient)"); // Apply gradient fill using a gradient ID

// Create a gradient definition
const gradient = legendSvg.append("defs")
  .append("linearGradient")
  .attr("id", "gradient")
  .attr("gradientUnits", "userSpaceOnUse")
  .attr("x1", 0)
  .attr("y1", 0)
  .attr("x2", 0)
  .attr("y2", legendHeight);

// Add color stops to the gradient
gradient.selectAll("stop")
  .data(colorRange)
  .enter()
  .append("stop")
  .attr("offset", (d, i) => `${(i / (colorRange.length - 1)) * 100}%`)
  .attr("stop-color", (d, i) => colorScale(i));

// Add labels for high and low
legendSvg.append("text")
  .attr("x", legendWidth / 2.5)
  .attr("y", -5)
  .attr("text-anchor", "middle")
  .style("font-size", "15px")
  .text(colorRange[0]);

legendSvg.append("text")
  .attr("x", legendWidth / 2)
  .attr("y", legendHeight + 15)
  .attr("text-anchor", "middle")
  .style("font-size", "15px")
  .text(colorRange[2]);

}

// Function to retrieve the selected option and call the handler function
function handleSelectChange() {
  var selectedOptions = document.getElementById("layerSelect").value;
  console.log(selectedOptions);

  // Call the corresponding handler function based on the selected options

    if (selectedOptions === "hidden layer1") {
      // Call the handler function for hidden layer1
      hiddenLayer1Handler();
    } else if (selectedOptions === "hidden layer2") {
      // Call the handler function for hidden layer2
      hiddenLayer2Handler();
    } else if (selectedOptions === "hidden layer3") {
      // Call the handler function for hidden layer3
      hiddenLayer3Handler();
    } else if (selectedOptions === "hidden layer4") {
      // Call the handler function for hidden layer4
      hiddenLayer4Handler();
    } else if (selectedOptions === "hidden layer5") {
      // Call the handler function for hidden layer5
      hiddenLayer5Handler();
    // Add more conditions for additional options if needed
  };
}

// Add event listener for select change
var selectElement = document.getElementById("layerSelect");
selectElement.addEventListener("change", handleSelectChange);

// Initial execution of the handler function
handleSelectChange();



 </script>